/* MARK: Header */
body {
  font-family: 'Gotham';
}

.App-header {
  position: relative;
  padding: 9px 24px;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  top: 0px;
  height: 114px;
  max-width: 1140px;
  margin: auto;
}

.logoContainer {
  display: block;
  box-sizing: border-box;
  float: left;
  height: 100%;
  width: auto;
  /* left: 0px; */
  background: blue;
}

.logoContainer img {
  height: 100%;
  max-width: 200px;
}

.menuContainer {
  float: right;
  width: auto;
  margin: auto;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  top: 50%;
  transform: translateY(-50%);
}

.menuContainer p { 
  color: gray;
  font-size: 13px;
  text-align: right; 
  margin: auto;
  padding: auto;
  font-weight: bold;
}

.App-container {
  /* background: blue; */
  max-width: 1140px;
  margin: auto;
  margin-top: 100px;
}

/* MARK: Hero */

.heroRow {
  height: auto;
  /* height: 90vh; */
  height: 560px; 
}

.heroRow .videoContainer {
  height: 100%;
  width: 50%;
  background-color: green;
  display: inline-block;
  /* float: left; */
}

.videoContainer .video {

}

.heroRow .heroTextContainer {
  display: inline-block;
  height: 100%;
  width: 50%;
  float: right;
}

.heroTextContainer .heroText {
  display: block;
  position: relative;
  margin: 0px 10% 50px 50px;
  top: 40%;
  transform: translateY(-50%);
}

.heroText h1 {
  font-size: 72px;
  font-weight: bold;
}

.heroText p {
  font-size: 36px;
  line-height: 1.22;
}

.heroText button {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 6px 30px;
  border: none;
  background-color: #67DDAB;
}

/* MARK: Summary Row */
.summaryRow {
  width: 100%;
  height: auto;
  transition: width 1s ease;
}

.summaryRow .summaryBackground {
  position: absolute;
  z-index: -3;
  left: 0px;
  margin-top: -60px;
  height: 100%;
  width: 100vw;

  background-repeat: no-repeat;
  background-image: linear-gradient(#8ECCEC, #8ECCEC);
  background-size: 0% 100%;
  transition: background-size 0.8s;
}

.active .summaryBackground {
  background-size: 100% 100%;
}

.summaryBackground svg {
  width: 1440px;
  z-index: -1;
  float: left;
  margin-top: -120px;
  margin-right: -80px;
  margin-left: calc(70px + 30%);
  position: absolute;
  clip-path: url(#clipper);
}

.summaryBackground path {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-dasharray: 10px;
  /* animation: pathSlow 5s linear infinite; */
  transition: stroke-linecap 1s, stroke-width 1s;
}

.summaryBackground path {
  stroke: white;
  stroke-dasharray: 1740px;
  stroke-dashoffset: 1740px;
  transition: stroke-dashoffset 3s 0.4s, stroke-dasharray 2s 0.4s;
  /* animation: pathSlow 3.2s linear infinite;  */
}

.active path {
  stroke-dashoffset: 0px;
  /* stroke-dasharray: 10px; */
}

.backPath path {
  opacity: 0;
  stroke: #8ECCEC;
  stroke-dasharray: 10px;
  stroke-dashoffset: 0px;
  transition: opacity 0.2s 0.4s;
  animation: pathSlow 3.2s linear infinite; 
}

.active .backPath path {
  opacity: 1;
}

/* .summaryBackground:hover .backPath path {
  animation-duration: 4s;
  stroke-dasharray: 25px;
  stroke-width: 4px;

} */

.summaryBackground:hover path {
  stroke-width: 4px;
  /* stroke-linecap: round; */
}

@keyframes pathSlow {
  100% {
    stroke-dashoffset: -20px;
  }
}

.summary {
  display: inline-block;
  width: 40%; 
  margin-top: 40px;

  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s, opacity 1s;
}

.summary h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.summary h1 {
  font-size: 48px;
  font-weight: bold;
}

.summary p {
  font-size: 24px;
}

.active .summary {
  transform: translateY(0);
  opacity: 1;
}

/* MARK: Workshop Cards */

.workshopCardsContainer {
  margin-top: 120px;
}

.workshopCardsContainer p {
  font-size: 24px;
}

.workshopCard {
  /* background: white; */
  /* height: 200px; */
  display: inline-block;
  margin: 180px 0;
  width: 100%;
}

.workshopCard div {
  width: 50%;
  display: inline-block;
}

.workshopCard img {
  width: 100%;
}

.workshopCard h2 {
  font-size: 24px;
  font-weight: bold;
  color: #67DDAB;
  text-transform: uppercase;
}

.workshopCard h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0 30px;
}

/* FIX THIS ONE BELOOOOW */
.inspirationTour span {
  color: #67DDAB;
}

.playWorkshop span {
  color: #FF9C1C;
}

.popUp span {
  color: #8ECCEC;
}

.workshopCard .workshopBackground {
  position: absolute;
  z-index: -3;
  left: 0px;
  height: 100%;
  width: 104vw;
  transition: stroke-dashoffset 1s;
}

.workshopBackground svg {
  position: absolute;
  min-width: 2000px;
  float: left;
  bottom: 40px;
  margin-top: -600px;
  margin-left: -60px;
  margin-bottom: 400px;
}

.workshopBackground path {
  fill: none;
  /* stroke: #a2cae9; */
  stroke-width: 2px;
  stroke-dasharray: 3px;
  /* animation: pathSlow 7s linear infinite; */
  transition: stroke-linecap 1s, stroke-width 1s;
}

.inspirationTour svg {
  top: 20px;
}

.inspirationTour path {
  stroke: #8ECCEC;
}

.playWorkshop svg {
  top: -50px;
  min-width: 1700px;
  width: 100%;
  margin-top: -380px;
  margin-left: -30px;
}
.playWorkshop path {
  stroke: #67DDAB;
}
.playWorkshop img {
  padding: 120px;
}

.popUp svg {
  top: 300px;
  min-width: 1700px;
  width: 100%;
}
.popUp path {
  stroke: #FF9C1C;
}

.workshopCard .idealForCard {
  margin: 20px 0;
  width: 80%;
  background-color: #67DDAB;
  padding: 30px 40px;
}

.idealForCard h3{
  font-size: 12px;
  margin: 0;
}

.idealForCard p {
  font-size: 20px;
  padding: 0;
  margin: 10px 0 0;
  line-height: 1.3;
}

.workshopCard button {
  color: #67DDAB;
  background: none;
  border: none;
  padding: 0;
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold; 
  border-bottom: #67DDAB inset 4px ;
  background-image: linear-gradient(to bottom, #67DDAB 65%, #67DDAB 10%);
  background-repeat: no-repeat;
  text-decoration: none;
  transition: background-size 0.2s ease;
  background-size: 100% 0% ;
  background-position: bottom;
  /* background-position-y:  */
  outline: none;
}

button:active, button:focus {
  border-bottom: #67DDAB solid 4px;
  outline: none;
  opacity: 0.4;
}

.workshopCard button:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

/* Workshop Review Row */
.workshopReviewRow {
  background-color: #F4F4F4;
  width: 100%;
  padding: 180px 0 100px;
  z-index: -5;
}

.workshopReviewRow .background {
  position: absolute;
  background: #F4F4F4;
  left: 0;
  margin-top: -180px;
  height: 100%;
  width: 100%;
  z-index: -5;
}

.reviewCard {
  width: calc(33.3% - 40px);
  display: inline-block;
  background: white;
  margin: 0px 30px;
  padding: 60px;
  z-index: -4;
}

.reviewCard img {
  height: 220px;
  width: 100%;
  border-radius: 200px;
  margin-top: -150px;
  margin-bottom: 20px;
  background: gray;
}

.reviewCard h1 {
  font-size: 42px;
  font-weight: bold;
  color: #67DDAB;
}

.reviewCard h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.reviewCard p {
  font-size: 24px;
  line-height: 1.2;
}

.reviewCard button {
  background: white;
  border: #67DDAB solid 4px;
  color: #67DDAB;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  margin: auto;
  width: 100%;
}

footer {
  background: white;
  width: 100%;
  height: 200px;
}