.Contact {
    /* background: red; */
    /* height: 400px; */
    /* width: 100px; */
    position: relative;
}

.Contact h1 {
    font-size: 72px;
    font-weight: bold;
}

.tabContainer {
    /* background: red; */
    margin: 40px 0;
}

.tabContainer .buttonRow {
    /* height: 80px; */
}

.buttonRow div {
    background-color: white;
    height: 100%;
    margin: 0 30px;
    width: calc(33.3% - 40px);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 100px;
    transition: background-color 0.2s;
}

.buttonRow img {
    display:inline-block;
    height: 40px;
    width: 40px;
    background: gray;
    transform: translateY(-10%);
}

.buttonRow h2 {
    display:inline-block;   
    font-size: 18px;
    margin: 0px;
    padding: 20px;
    font-weight: bold;
}

.buttonRow div:hover {
    background-color: #67DDAB;
}

.buttonRow div.chosen {
    background-color: #67DDAB;
    color: white;
}


/* ------------------------------------------- MARK: Form Styling  */

.formContainer {
    /* height: 80vh; */
    /* background: red; */
}

.formContainer .summaryContainer, .formContainer .form {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 200px;
    /* background: yellow; */
}

.emailContainer {
    /* background: #F4F4F4; */
    padding: 40px 0;
}

.emailContainer .background {
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: -2;
    left: 0;
    margin-top: -40px;
    background: #F4F4F4;
}

.summaryContainer p {
    font-size: 18px;
    font-weight: bold;
}

.summaryContainer span {
    color: #67DDAB;
}

.summaryContainer form {
    height: 100%;
    background: red;
    position: absolute;
    top: 0;
}

.form input {
    width: 100%;
    padding: 20px 0 10px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-bottom: #2F2F2F solid 1px;
    transition: color 0.4s, background-color 0.4s, width 0.8s;
}

::placeholder {
    color: rgb(177, 177, 177);
}

.form .submitButton {
    width: 300px;
    background: #67DDAB;
    color: #070707;
    margin: 40px auto;
    padding: 20px 0;
    border: none;
    outline: none;
    display: block;
}

.Contact.pending .form .submitButton {
    color: white;
    animation: submitting 1s infinite;
}

@keyframes submitting {
    0% {
        background: #070707;
    }
    25% {
        background: #67DDAB;
    }
    50% {
        background: #8eccec;
    }
    75% {
        background: #e1942f;
    }
    100% {
        background: #070707;
    }
}

.form .submitButton:hover {
    color: white;
    background: #070707;
}

.Contact .formContainer {
    height: 100%;
    transition: display 1s 2s, height 1s 1s;
}

.sentContainer {
    width: 100%;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: visibility 0s 0.8s, opacity 1s 0.8s;
}

.Contact img {
    transform: translateY(200px) scale(0.3);
    transition: transform 0.6s 0.8s;
}

.Contact.submitted .sentContainer {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.Contact.submitted .formContainer {
    /* display: none; */
}

.Contact.submitted input {
    width: 0%;
}

.Contact.submitted img {
    transform: translateY(0) scale(1);
}

.Contact.submitted h1 {
    transform: translateY(0) scale(1);
}

@keyframes appearSent {
    to {
        visibility: visible;
    }
}

.sentContainer img {
    margin-top: 0;
    height: 300px;
}

.sentContainer h1 {
    /* font-family: serif; */
    font-size: 24px;
    transform: translateY(-100px) scale(0.8);
    transition: transform 0.6s 0.8s;
}
