@media only screen and (max-width: 777px) {
    ::-webkit-scrollbar {
        width: 0px;  /* remove scrollbar space */
        background: transparent;  /* optional: just make scrollbar invisible */
    }
    /* optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        /* background: #FF0000; */
    }

    .App-header {
        max-width: 100%;
        height: 70px;
        padding: 4px 0 1px;
    }

    .logoContainer {
        overflow: hidden;
        /* width: 22%; */
    }
    .logoContainer img {
        margin-top: px;
        margin-left: -10px;
        height: 140%;
    }

    .menuContainer button{
        margin-right: 14px;
    }

    .menuContainer button:focus{
        border: none;
        opacity: 1;
        outline: none;
    }

    .mobileMenu {
        display: block;
        /* height: 24px;
        width: 24px;
        background: red;
        padding: 0; */
    }

    .mobileMenu div {
        /* background: red;
        width: 100%;
        height: 6px; */
        /* height: 2px; */
    }

    .hamburger {
        display: block;
    }

    .menuLevel-1 .hamburger {
        display: none;
    }

    .cross {
        display: none;
        transform: rotate(180deg);
        transition: transform 1s;
    }

    .menuLevel-1 .cross {
        display: block;
        transform: rotate(45deg);
    }

    ul {
        /* display: none; */
        background: #67DDAB;
        position: absolute;
        top: -22px;
        left: 100%;
        width: 80vw;
        height: 100vh;
        padding: 24px 30px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .menuContainer li {
        /* display: none; */
        color: black;
        transform: translateX(100px);
        opacity: 0;
        transition: opacity 0.2s, transform 400ms cubic-bezier(0.145, 0.555, 0.375, 1.125);
    }

    .menuLevel-1 li, .menuLevel-2 li {
        /* display: block; */
        opacity: 1;
        transform: translateX(0px);
    }

    .menuContainer .dropdownParent, .hoverMenu button {
        text-align: left;
        width: 100%;
        color: black;
        font-size: 16px;
        margin-bottom: 8px;
    }

    ul span {
        display: none;
        /* display: inline-block; */
    }

    .dropdownParent {
        /* display: none; */
    }

    .dropdownParent span {
        display: inline-block;
        color: black;
        font-size: 20px;
    }

    .App, .App-container, .App-header {
        transition: transform 200ms cubic-bezier(0.145, 0.555, 0.375, 1.125);
        /* transform: translateX(-70%); */
        /* transform: translateX(-160%); */
    }

    .heroText span {
        margin-top: -20px;
    }

    .menuLevel-1 {
        /* transform: translateX(-70%); */
        /* position: absolute; */
    }

    .Contact p {
        text-align: left;
    }

    .summaryRow path {
        stroke-dashoffset: 0px;
        opacity: 1;
    }
    .summaryRow .backPath path {
        opacity: 1;
        transition: opacity 0s 0.7s;
      }

    .menuLevelAll-1 {
        transform: translateX(-70%);
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
    }

    .menuLevel-2 {
        transform: translateX(-155%);
    }

    .hoverMenu {
        display: block;
        position: relative;
        background: none;
        border: none;
        padding: 0px 20px;
        float: left;
        margin-bottom: 20px;
        overflow: scroll;
    }

    .hoverMenu button {
        padding-left: 0;
        padding-right: 40px;
        font-size: 12px;
        margin-bottom: 6px;
    }

    button.back-chevron {
        padding: 0;
        display: inline;
        transform: translateX(-70px);
        position: absolute;
    }

    .mobileTitle {
        margin-bottom: 20px;
    }

    .mobileTitle p {
        display: inline;
        font-size: 24px;
        padding: 0;
        margin: 0 0 20px;
        vertical-align: middle;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .App {
        /* overflow: hidden; */
    }

    .heroText {
        top: 30px;
        margin: 0 20px;
        transform: none;
    }
    
    .heroText h1 {
        font-size: 48px;
    }
    
    .heroText p {
        font-size: 24px;
    }

    .heroRow .videoContainer {
        height: auto;
    }

    .video img {
        width: 100%;
    }

    .summaryBackground {
        background: none;
    }

    .summaryBackground svg {
        width: 340%;
        margin-top: -30px;
        margin-left: -30px;
    }

    .summary {
        background: #8ECCEC;
        margin-top: 140px;
        width: 100%;
        opacity: 1;
        padding: 60px 20px 80px;
    }

    .postIts {
        display: none;
    }

    .workshopCardsContainer h1 {
        font-size: 24px;
        text-align: left;
    }

    .lightbulbAnimation {
        transform: scale(0.8) rotate(-40deg);
        margin: 0;
        position: absolute;
        margin-top: -400px;
    }

    .qualityCardsContainer {
        margin: 0 20px;
    }
    
    .qualityCard {
        width: 100%;
    }

    .workshopCardsContainer h2 {
        text-align: left;
    }

    .qualityCardsContainer img {
        height: 200px;
        padding: 10px 0 10px;
    }

    .qualityCardsContainer h3 {
        font-size: 24px;
        text-align: center;
        margin: 20px 0 10px;
    }

    .inspiration svg {
        width: 240%;
        margin-left: -400px;
        margin-top: 700px;
    }

    .workshop svg {
        width: 240%;
        margin-top: -380px;
        margin-left: -100px;
    }

    .workshopCardsContainer h1 {
        margin: 60px 20px;
    }

    .popUp svg {
        width: 120%;
    }

    .formContainer .form {
        padding: 0 20px;
    }

    .emailContainer h1 {
        margin: 0 20px;
    }

    .form .submitButton {
        width: 100%;
    }

    footer {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    footer div {
        display: block;
        width: 100%;
    }

    footer img {
        float: none;
        margin-bottom: 40px;
    }
}